body{
    margin:0px;
    padding: 0px;
}

img{
    width: 100%;
    height:auto;
}

.bg-header {
    color:rgb(255, 255, 255);
    background: #000;
    padding: 15px;
}

.bg-footer {
    background-color: black;
    padding: 15px        
 }

 main {
    width: 75%;
    float: left;
 }

 .aside{
    background-color: lightblue;
    float: right;
    width: 25%;
    height: 40rem;  
}

footer {
    clear: both;
}

@media screen and (max-width: 768px){

    .aside{
        visibility: hidden;
        display: none;
        width: 0;
        height: 0;
    }

   .bg-footer{
    display: flex;
     flex-direction: column;
   }

   .bg-header{
    display: flex;
    flex-direction: column;
   }

   .texte{
     font-size: 2em;
   }

}



