table, caption, th, td {

    border: 2px solid skyblue
    
    }
    
tbody{
    color: white;
    background-color: black;
}
.thead-dark{
    background-color: red;
}
.initule{
    background-color: aqua;
}
button{
    background-color: yellow;
    color: green;
}
input{
    background-color: grey;
}
label{
    color: darkviolet;
}